body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movies-exit-active {
  animation: movies 300ms ease-out forwards;
}

@keyframes movies {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: .5;
  }

  100% {
    opacity: .3;
  }
}