@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */
:root {
  --green: #4CAF50;
  --dark: #081C24;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  box-shadow: 5px 5px 10px hsla(0, 0%, 47.8%, .5);
}

.card img {
  width: 185px;
  height: 278px;
}

.card-movie {
  display: flex;
  padding: 0 !important;
}

.card-movie__icons {
  display: flex;
  align-items: center;
}

.card-movie__description {
  padding: 10px 15px;
  position: relative;
  width: -webkit-fill-available;
}

.card-movie__name {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
}

.card-movie__details {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
  bottom: 0;
  left: 0;
  padding: 15px 30px;
}

.movies-exit-active {
  animation: movies 300ms ease-out forwards;
}

.movies-enter-active {
  animation: movies 600ms ease-in alternate-reverse;
}

.img-container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.btn-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .btn-container {
  opacity: 1;
}

.btn-container_button {
  background-color: var(--green);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.btn-pagination {
  display: flex !important;
  margin: 10px 0;
}

.btn-pagination button {
  color: #fff;
  background-color: var(--dark);
  font-weight: 600;
}

.btn-pagination button:hover {
  background-color: var(--dark);
  color: var(--green);
}

.btn-pagination button:disabled {
  color: #fff;
  background-color: var(--dark);
  cursor: not-allowed;
}


.clear-btn {
  background-color: var(--dark);
  color: #fff;
  margin: 10px 0;
  width: 100%;
  font-weight: 600;
}

.clear-btn:hover {
  color: var(--green);
}



@keyframes movies {
  0% {
    opacity: .7;
  }

  30% {
    opacity: .5;
  }

  100% {
    opacity: .3;
  }
}