*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  box-shadow: 5px 5px 10px hsla(0, 0%, 47.8%, .5);
}

.card img {
  width: 185px;
  height: 278px;
}



.card-movie {
  display: flex;
  padding: 0 !important;
}

.card-movie__icons {
  display: flex;
  align-items: center;
}

.card-movie__description {
  padding: 10px 15px;
  position: relative;
}

.card-movie__name {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
}

.card-movie__details {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
  bottom: 0;
  left: 0;
  padding: 15px 30px;
}

.movies-exit-active {
  animation: movies 300ms ease-out forwards;
}

.movies-enter-active {
  animation: movies 600ms ease-in alternate-reverse;
}

@keyframes movies {
  0% {
    opacity: .7;
  }

  30% {
    opacity: .5;
  }

  100% {
    opacity: .3;
  }
}